<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" >
    <title>{% block title%}
        <h1> Интернет-магазин "YOUR HOUSE"</h1>
        {% endblock %}
    </title>

</head>
<body>
   <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">"YOUR HOUSE"</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/catalog">Каталог</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/discount">Распродажа</a>
            <a class="btn btn-outline-primary" href="/create">Добавить</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/product">Добавлен товар</a>
        </nav>
     </div>
   {% block body%}

            <h1>Три дня неимоверных скидок</h1>
            <h1>для Вас и Ваших деток</h1>
   {% endblock %}

              <footer class="container pt-4 my-md-5 pt-md-5 border-top">
                  <div class="row">
                  <div class="col-12 col-md">
                     <img class="mb-2" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
                     <small class="d-block mb-3 text-muted">© 2022</small>
                  </div>

              <div class="col-6 col-md">
                 <h5>Наш магазин</h5>
                  <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">О нас</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Контакты</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Наши услуги</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Наши сотрудники</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Забота о наших покупателях</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Покупателям</h5>
                  <ul class="list-unstyled text-small">
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Как сделать заказ</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Способы оплаты</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Доставка</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Возврат товара</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Возврат денежных средств</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Вопросы-ответы</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                 <h5>Скидки и акции</h5>
                  <ul class="list-unstyled text-small">
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Акция дня</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ближайшие акции</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Сезонные распродажи</a></li>
                   <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Праздничные акции</a></li>
                 </ul>
              </div>
              </footer>


</body>
</html>