{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body %}
   <div class="container">
   <h1>Каталог</h1>
   </div>

      <div class="album py-5 bg-light">
   <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">Игрушечные машинки</text></svg>
            <div class="card-body">
               <div class="container">
                    <div class="col-2 offset-1">
                      <img src="https://st4.depositphotos.com/1006542/22799/i/450/depositphotos_227994286-stock-photo-electric-car-showcase-toy-store.jpg" width="300" height="320" >
                    </div>
               </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning">Просмотреть ассортимент</button>
                </div>
                <small class="text-muted">Мы ценим каждого покупателя</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Куклы</text></svg>
            <div class="card-body">
                <div class="col-4 offset-2">
                    <img src="https://www.kartinki24.ru/uploads/gallery/comthumb/441/kartinki24_ru_dolls_-121.jpg" width="300" height="320">
                </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning">Просмотреть ассортимент</button>
                </div>
                <small class="text-muted">Мы ценим каждого покупателя</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Конструктор</text></svg>
            <div class="card-body">
                <div class="col-2 offset-1">
                  <img src="https://st2.depositphotos.com/1011549/10912/i/600/depositphotos_109127412-stock-photo-toys-for-children.jpg" width="300" height="320">
                </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning">Просмотреть ассортимент</button>
                </div>
                <small class="text-muted">Мы ценим каждого покупателя</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">Всё для детского творчества</text></svg>
            <div class="card-body">
                <div class="col-2 offset-1">
                  <img src="https://pickimage.ru/wp-content/uploads/images/detskie/cornerdrawing/ugolokrisovaniya11.jpg" width="300" height="320">
                </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning">Просмотреть ассортимент</button>
                </div>
                <small class="text-muted">Мы ценим каждого покупателя</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">Для самых маленьких</text></svg>
            <div class="card-body">
                <div class="col-2 offset-1">
             <img src="https://st3.depositphotos.com/1177973/16613/i/600/depositphotos_166133586-stock-photo-baby-rattles-on-blurred-background.jpg" width="300" height="320">
                </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning">Просмотреть ассортимент</button>
                </div>
                <small class="text-muted">Мы ценим каждого покупателя</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Всё для детского творчества</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Разное</text></svg>
            <div class="card-body">
                <div class="col-2 offset-1">
                  <img src="https://st2.depositphotos.com/4431055/11871/i/600/depositphotos_118712976-stock-photo-toys-collection-isolated.jpg" width="300" height="320">
                </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning">Просмотреть ассортимент</button>
                </div>
                <small class="text-muted">Мы ценим каждого покупателя</small>
              </div>
            </div>
          </div>
        </div>

      </div>
     </div>
   </div>


{% endblock %}